.a1
{
    margin-top: 4px;
}
.a2
{
    margin-top: -10px;
}
.a3
{
    margin-top: -10px;
}
.a4
{
    margin-top: -10px;
}
.a5
{
    margin-top: -10px;
}
.academic
{
    
    margin-left: 40px;
}
.facilities
{
    margin-left: 250px;
    margin-top: -156px;
}
.us
{
    margin-left: 460px;
    margin-top: -131px;
}
.cr
{
    margin-left: 40px;
    margin-top: 10px;
}
.svg
{
    margin-top: -130px;
    margin-left: 1100px;
}
svg{
    padding: 10px;
}
.line
{
    margin-top: 80px;
}
.foo
{
    top: 40px;
}